body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #00aaff;
  background: var(--bg-gradient);
  overflow-x: hidden;
}

header nav ul li a:hover {
  color: var(--primary-orange);
}

/* Cards */
#cards {
  padding: 4rem 1rem;
  text-align: center;
}

#cards h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#cards .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

#cards .card {
  background: var(--card-bg);
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#cards .card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

#cards .card:hover img {
  transform: scale(1.05);
  filter: brightness(1.1);
}

#cards .card:hover {
  transform: scale(var(--card-hover-scale));
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
}

#cards .card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#cards .card p {
  color: #0b5929;
  font-size: 1rem;
}

/* 彈幕區 */
#danmakuArea {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 50vh;
  pointer-events: none;
  z-index: 50;
}

.danmaku-msg {
  position: absolute;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

/* 彈幕操作區 */
#danmakuSection {
  background: rgba(210, 8, 8, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  margin: 4rem 1rem;
  padding: 2rem;
  text-align: center;
 
 
}

#danmakuSection img {
  width: 64px;
  height: 64px;
  cursor: pointer;
  margin: 0.5rem;
  transition: transform 0.3s;
}

#danmakuSection img:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  background: rgba(0,0,0,0.4);
  color: #fcfcfc;
  padding: 1.5rem 0;
  text-align: center;
 
}
.color{

  color:royalblue;
}